*{
	margin:0;
	padding:0;
}

html{
	background:url("/images/bg.png");
}

body{
	padding:10px;
	color:#FFF;
	font-family:Helvetica;
	text-shadow:1px 1px 3px rgba(0,0,0,.6);
	-webkit-font-smoothing: antialiased;
}

section{
	margin-top:10px;
	padding:20px;
	border-radius:10px;
	background-color:rgba(0,0,0,.2);
	border:1px solid rgba(0,0,0,.1);
	border-top-color:rgba(0,0,0,.3);
	border-bottom-color:rgba(200,200,200,.3);
}

ol{
	padding-left:30px;
}

h1{
	font-family:Oswald;
	text-transform:uppercase;
	text-align:center;
	padding:10px;
	margin:-10px -20px 0;
	font-size:23px;
	background-image:url("/images/wood.jpg");
	border-bottom:1px solid rgba(46,13,6,1);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,1);
}

h2{
	margin-top:-5px;
	margin-bottom:5px;
}

input{
	margin:3px 0;
	border:1px solid #000;
	border-radius:3px;
	padding:3px;
}

table{
	width:100%;
}

table th, table td{
	width:200px;
	padding:6px 10px;
	background-color:rgba(0,0,0,.1);
	border-radius:3px;
}

table td{
	text-align:center;
}